@charset "UTF-8";
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body {
    font-family: "微软雅黑";
    color: #656565;
    background: #E9E9E9;
}

a {
    color: #656565;
    text-decoration: none;
}

ol, ul {
    list-style: none;
}

/*头部*/
.head {
    width: 100%;
    height: 80px;
    min-width: 1280px;
    margin: 0px auto;
    background: #3E4047;
    font-size: 40px;
    line-height: 80px;
    text-align: center;

}

/*
项目图标
.head .logo {
    width: 40%;
    float: left;
}

.head .logo img {
    width: 218px;
    height: 88px;
    margin: 8px 5px 15px 20px;
    vertical-align: top;
}
*/
/*左边导航*/
.line {
    float: left;
    width: 15%;
    min-width: 160px;
}

.sideNav {
    background: #F9F9F9;
    width: 100%;
    height: 100%;
    border-right: 1px solid #BABABA;
}

.sideNav li {
    border-bottom: 1px solid #DEDEDE;
    border-top: 1px solid #fff;
    background: #F3F3F3;
}

.sideNav li .menu {
    width: 100%;
    height: 45px;
    position: relative;
    text-align: left;
    cursor: pointer;
    background: #F3F3F3;
}

.sideNav li .menu span, .sideNav li .menu i {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    height: 10px;
    line-height: 10px;
    margin-top: 20px;
}

.sideNav li .menu span a {
    font-size: 12px;
    color: #434343;
    margin-left: 35px;
    font-weight: bold;
}

.sideNav li.view {
    background: #FFF;
    color: #3D89CB;
}

.sideNav li.view .menu span a, .sideNav li.view .submenu li a {
    color: #3D89CB;
}

.sideNav li .menu i {
    width: 10px;
    height: 10px;
    position: absolute;
    margin: 0px;
    right: 20px;
    top: 20px;
    background: url(../images/icon3.png) no-repeat;
    overflow: hidden;
}

.sideNav li.view .menu i {
    background: url(../images/icon2.png) no-repeat;
}

.sideNav li.view .submenu {
    display: block;
}

.sideNav li .submenu {
    display: none;
}

.sideNav li .submenu li {
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: 0px;
    background: url(../images/icon4.png) no-repeat 18px center;
}

.sideNav li.view .submenu li {
    background-color: #FFF;
}

.sideNav li.view .submenu li:hover, .sideNav li.view .submenu li.viewList {
    background-color: #E5E5E5;
}

.sideNav li .submenu li a {
    font-size: 12px;
    color: #434343;
}

.sideNav li .submenu li span {
    display: block;
    margin: 0px;
    height: 30px;
    line-height: 30px;
    text-align: left;
}

.sideNav li .submenu li span a {
    margin-left: 35px;
}

#contain {
    width: 100%;
    height: 100%;
}

table {
    width: 100%;
    min-width: 1100px;
    border-style: solid;
    border-color: black;
    border-width: 0px 0px 0px 1px;
    white-space: nowrap;
    border-collapse: collapse;
    layout: fixed;
    text-align: center;
}

table td, table th {
    font-size: 12px;
    border-style: solid;
    border-color: black;
    border-width: 0px 1px 1px 0px;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
}

table th {
    font-size: 15px;
}

/*注脚*/
.foot {
    clear: both;
    width: 100%;
    height: 40px;
    min-width: 1280px;
    font-size: 20px;
    line-height: 40px;
    color: #656565;
    text-align: center;
    background-color: black;

}

/*右边内容*/
/*.right_m {*/
/*min-width: 975px;*/
/*margin: 0px;*/
/*padding: 0px;*/
/*background: #E9E9E9;*/
/*}*/

/*分页导航*/
/*
.fenye{
    width:100%;
    height:27px;
    line-height:27px;
    text-align:center;
}
.fenye a , .fenye span{
    display:inline-block;
    *display:inline;
    zoom:1;
    height:25px;
    line-height:25px;
    vertical-align:middle;
    margin:0px;
    padding:0px;
}
.fenye a{
    width:25px;
    border:1px solid #ddd;
    color:#737373;
    font-size:14px;
}
.fenye .now , .fenye a:hover{
    color:#0153A3;
    border:1px solid #0153A3;
}
.fenye .prev{
    width:27px;
    height:27px;
    border:0px;
    background:url(../images/prev.jpg) no-repeat;
}
.fenye .prev:hover , .fenye .next:hover{
    border:0px;
}
.fenye .next{
    width:27px;
    height:27px;
    border:0px;
    background:url(../images/next.jpg) no-repeat;
}
.fenye input{
    width:27px;
    height:27px;
    border:1px solid #ddd;
    text-align:center;
    line-height:25px;
}
.fenye .go{
    border:0px;
    width:27px;
    height:27px;
    background:url(../images/fy_bg.jpg) no-repeat;
}
.fenye .go:hover{
    border:0px;
}*/
/*分页导航*/
/*后台首页
.m_head {
    width: 100%;
    height: 50px;
    min-width: 1200px;
    margin: 0px auto;
}

.m_head .frame_h {
    width: 100%;
    height: 50px;
    overflow: hidden;
}

.m_body {
    width: 100%;
    min-width: 1200px;
    margin: 0px auto;
}

.m_body .m_left {
    width: 226px;
    float: left;
}

.m_left .frame_l {
    width: 226px;
    float: left;
}

.m_body .m_right {
    min-width: 975px;
    float: left;
}

.m_right .frame_r {
    width: 100%;
}

/*首台首页*/