@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: "微软雅黑", sans-serif;
    color: #656565;
    background: #E9E9E9;
}

a {
    color: #656565;
    text-decoration: none;
}

ol, ul {
    list-style: none;
}

/*头部*/
.head {
    width: 100%;
    height: 80px;
    min-width: 1280px;
    margin: 0 auto;
    background: #3E4047;
    font-size: 40px;
    line-height: 80px;
    text-align: center;

}

/*
项目图标
.head .logo {
    width: 40%;
    float: left;
}

.head .logo img {
    width: 218px;
    height: 88px;
    margin: 8px 5px 15px 20px;
    vertical-align: top;
}
*/
/*左边导航*/
.line {
    float: left;
    width: 15%;
    min-width: 160px;
}

.sideNav {
    background: #F9F9F9;
    width: 100%;
    height: 1200px;
    border-right: 1px solid #BABABA;
}

.sideNav li {
    /*border-bottom: 1px solid #DEDEDE;*/
    border-top: 1px solid #fff;
    background: #F3F3F3;
}

.sideNav li .menu {
    width: 100%;
    height: 45px;
    position: relative;
    text-align: left;
    cursor: pointer;
    background: #F3F3F3;
}

.sideNav li .menu span, .sideNav li .menu i {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    height: 10px;
    line-height: 10px;
    margin-top: 20px;
}

.sideNav li .menu span abbr{
    font-size: 12px;
    color: #434343;
    margin-left: 35px;
    font-weight: bold;
}

.sideNav li.view {
    background: #FFF;
    color: #3D89CB;
}

.sideNav li.view .menu span abbr, .sideNav li.view .submenu li abbr {
    color: #3D89CB;
}

.sideNav li .menu i {
    width: 10px;
    height: 10px;
    position: absolute;
    margin: 0;
    right: 20px;
    top: 20px;
    background: url(../images/icon3.png) no-repeat;
    overflow: hidden;
}

.sideNav li.view .menu i {
    background: url(../images/icon2.png) no-repeat;
}

.sideNav li.view .submenu {
    display: block;
}

.sideNav li .submenu {
    display: none;
}

.sideNav li .submenu li {
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: 0;
    background: url(../images/icon4.png) no-repeat 18px center;
}

.sideNav li.view .submenu li {
    background-color: #FFF;
}

.sideNav li.view .submenu li:hover, .sideNav li.view .submenu li.viewList {
    background-color: #E5E5E5;
}

.sideNav li .submenu li abbr {
    font-size: 12px;
    color: #434343;
}

.sideNav li .submenu li span {
    display: block;
    margin: 0;
    height: 30px;
    line-height: 30px;
    text-align: left;
}

.sideNav li .submenu li span abbr {
    margin-left: 35px;
}

#contain {
    width: 99.5%;
    height: 100%;
}

table {
    width: 100%;
    min-width: 1100px;
    border: 0 solid black;
    border-top: 1px;
    border-left-width: 1px;
    white-space: nowrap;
    border-collapse: collapse;
    layout: fixed;
    text-align: center;
}

table td, table th {
    font-size: 12px;
    border: 1px solid black;
    border-left-width: 0;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
}

table th {
    font-size: 15px;
}
caption{
    font-size: 25px;
    color: black;
}


.btn{
    display:inline-block;
    *display:inline;
    zoom:1;
    width:76px;
    height:36px;
    text-align:center;
    line-height:36px;
    color:#000;
    vertical-align:middle;
    background:url(../images/btn1.png) no-repeat;
    margin-left:5px;
}

.r_foot_m span input{
    width:16px;
    height:16px;
    border:1px solid #DEDEDE;
    background:none;
    vertical-align:middle;
}
.list_hy .zt{
    width:65px;
}
.r_foot{
    width:100%;
    height:40px;
    background:#F4F4F4;
    text-align:left;
    /*position:absolute;*/
    /*left:0px;*/
    /*bottom:0px;*/
}
.r_foot .r_foot_m{
    width:100%;
    height:40px;
    line-height:40px;
    position:relative;
}
.r_foot_m span{
    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align:middle;
    margin-left:20px;
    margin-right:20px;
}
.r_foot_m span em{
    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align:middle;
}
.r_foot_m .page{
    height:30px;
    position:absolute;
    right:3px;
    top:5px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background:#FFF;
    border:1px solid #DEDEDE;
}
.r_foot_m .page abbr{
    display:inline-block;
    *display:inline;
    zoom:1;
    width:42px;
    height:30px;
    text-align:center;
    font-size:14px;
    border-right:1px solid #DEDEDE;
    line-height:30px;
    vertical-align:top;
    padding:0;
    margin:0;
}
.r_foot_m .page abbr.now{
    color:#FFF;
    background:#3D89CB;
}
.r_foot_m .page .prev{
    margin-left:6px;
}
.r_foot_m .page .next{
    margin-right:6px;
    border:0;
}
.r_foot_m abbr img{
    width:9px;
    height:14px;
    vertical-align:top;
    margin-top:9px;
}

/*注脚*/
.foot {
    clear: both;
    width: 100%;
    height: 40px;
    min-width: 1280px;
    font-size: 20px;
    line-height: 40px;
    color: #656565;
    text-align: center;
    background-color: black;

}