<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="common.dao.LabelMapper">
    <resultMap id="Result" type="common.model.vo.DateView">
        <result column="label" jdbcType="VARCHAR" property="name"/>
        <result column="num" jdbcType="INTEGER" property="value"/>
    </resultMap>
    <sql id="res">
        label, num
    </sql>
    <select id="queryAll" resultMap="Result">
        SELECT
        <include refid="res"></include>
        FROM label_temp ORDER BY num DESC;
    </select>
    <insert id="insertList" parameterType="java.util.List" useGeneratedKeys="true">
        INSERT INTO label_temp
        (`label`,`num`)
        values
        <foreach collection="list" item="element" index="index" open="(" separator="),(" close=")">
            #{element.label,jdbcType=VARCHAR},#{element.num,jdbcType=INTEGER}
        </foreach>
    </insert>
</mapper>