<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="common.dao.RatingMapper">
    <resultMap id="Result" type="common.model.vo.DateView">
        <result column="rating" jdbcType="VARCHAR" property="name"/>
        <result column="num" jdbcType="INTEGER" property="value"/>
    </resultMap>
    <sql id="res">
        rating, num
    </sql>
    <select id="queryAll" resultMap="Result">
        SELECT
        <include refid="res"></include>
        FROM rating_temp;
    </select>
</mapper>
