<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="common.dao.LabelTempMapper">

    <insert id="insertList" parameterType="java.util.List" useGeneratedKeys="true">
        INSERT INTO label_temp
        (`label`,`num`)
        values
        <foreach collection="list" item="element" index="index" open="(" separator="),(" close=")">
            #{element.label,jdbcType=VARCHAR},#{element.num,jdbcType=INTEGER}
        </foreach>
    </insert>
</mapper>