<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="common.dao.PressTempMapper">
    <resultMap id="BaseResultMap" type="common.model.param.PressTemp">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="press" jdbcType="VARCHAR" property="press"/>
        <result column="num" jdbcType="INTEGER" property="num"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, press, num
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from press_temp
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM press_temp
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="common.model.param.PressTemp">
        INSERT INTO press_temp (id, press, num
        )
        VALUES (#{id,jdbcType=INTEGER}, #{press,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="common.model.param.PressTemp">
        insert into press_temp
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="press != null">
                press,
            </if>
            <if test="num != null">
                num,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="press != null">
                #{press,jdbcType=VARCHAR},
            </if>
            <if test="num != null">
                #{num,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="common.model.param.PressTemp">
        update press_temp
        <set>
            <if test="press != null">
                press = #{press,jdbcType=VARCHAR},
            </if>
            <if test="num != null">
                num = #{num,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="common.model.param.PressTemp">
        UPDATE press_temp
        SET press = #{press,jdbcType=VARCHAR},
            num   = #{num,jdbcType=INTEGER}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <insert id="insertList" parameterType="java.util.List" useGeneratedKeys="true">
        INSERT INTO press_temp
        (`press`,`num`)
        values
        <foreach collection="list" item="element" index="index" open="(" separator="),(" close=")">
            #{element.press,jdbcType=VARCHAR},#{element.num,jdbcType=INTEGER}
        </foreach>
    </insert>
</mapper>